@model KLTN.Models.Database.TinTuc

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TinTuc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaTinTuc" />
            <div class="form-group">
                <label asp-for="TieuDe" class="control-label"></label>
                <input asp-for="TieuDe" class="form-control" />
                <span asp-validation-for="TieuDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTaNgan" class="control-label"></label>
                <input asp-for="MoTaNgan" class="form-control" />
                <span asp-validation-for="MoTaNgan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <input asp-for="NoiDung" class="form-control" />
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnhURL" class="control-label"></label>
                <input asp-for="HinhAnhURL" class="form-control" />
                <span asp-validation-for="HinhAnhURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DanhMuc" class="control-label"></label>
                <input asp-for="DanhMuc" class="form-control" />
                <span asp-validation-for="DanhMuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TacGiaDisplay" class="control-label"></label>
                <input asp-for="TacGiaDisplay" class="form-control" />
                <span asp-validation-for="TacGiaDisplay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiDang" class="control-label"></label>
                <select asp-for="NguoiDang" class="form-control" asp-items="ViewBag.NguoiDang"></select>
                <span asp-validation-for="NguoiDang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayDang" class="control-label"></label>
                <input asp-for="NgayDang" class="form-control" />
                <span asp-validation-for="NgayDang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianDoc" class="control-label"></label>
                <input asp-for="ThoiGianDoc" class="form-control" />
                <span asp-validation-for="ThoiGianDoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuotXem" class="control-label"></label>
                <input asp-for="LuotXem" class="form-control" />
                <span asp-validation-for="LuotXem" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HienThi" /> @Html.DisplayNameFor(model => model.HienThi)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NoiBat" /> @Html.DisplayNameFor(model => model.NoiBat)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
